@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.loginform {
    max-width: 400px;
    margin: 0 auto;
    margin-top: 35px; /* ขยับลงมาจากด้านบน */
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #EFFBFF;
}

.loginform h2 {
    text-align: center;
    color: #1C98C3;
    font-weight: normal;
}

.loginform p {
    margin: 0 auto;
    text-align: center;
    color: #7E7E7E;
    font-weight: normal;
    margin-bottom: 20px;
}

.input-group {
    margin-bottom: 20px;
    font-family: "Kanit", sans-serif;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.input-group input:focus {
    outline: none;
    border-color: #1C98C3;
}

.loginbtn {
    width: 100%;
    background-color: #1C98C3;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 12px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-family: "Kanit", sans-serif;
}

.loginbtn:hover {
    background-color: #0e7490;
}

.alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
  }
  
.alert-success {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #3c763d;
  }
  
.alert-danger {
    background-color: #f2dede;
    border-color: #e74c3c;
    color: #a94442;
  }
  